@page "/"
@inject QrTest.Services.IApplicationService AppSvc

<h3>Accueil</h3>

<button class="btn btn-primary" @onclick="OpenScanner">
    Scanner un QR
</button>

@if (AppSvc.Payloads.Any())
{
    <h4>Dernier scan :</h4>
    <div class="alert alert-success">@AppSvc.Payloads.Last()</div>
}

@code
{
    private async Task OpenScanner()
    {
        // Navigation Shell vers la page native
        await Shell.Current.GoToAsync(nameof(QrTest.Pages.ScanPage));
    }
}
